.App 
{
  margin: 0 auto;
  /*border: 1px solid grey;*/
  width: 80vw ;
  height: 75vh; 

}

.main
{
  display: flex;
  width: inherit;
  height: inherit;
}

.listing-container
{
  width: fit-content;
  padding: 3px;
  border: 1px solid grey;
  background:   #ABEBC6;
}

.textarea-container 
{
  display: inline-block;
  background-color: #222222;
  flex-grow: 1;
  padding: 5px 30px 3px 30px;
  height: 99%;
  /*overflow-y: auto;*/
}